body {
  background-image: url(Back.png);
  background-size: cover;
}

.container {
  padding: 0 15px;
}

.Logo {
  text-align: center;
}

.LogoIMG {
  max-width: 400px;
}

.Contact {
  position: absolute;
  top: 15px;
  left: 30px;
}

.ContactIMG {
  max-width: 350px;
}

.Discount {
  position: absolute;
  left: 1010px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  background-color: white;
}

.DiscountIMG1 {
  max-width: 300px;
}

.DiscountIMG2 {
  max-width: 300px;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 13px;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  /*background: #AFCDE7;
  color: white;*/
  padding: 10px 8px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
td {
  background: #d8e6f3;
}
th {
  background: #afcde7;
  color: white;
}
th:first-child,
td:first-child {
  text-align: left;
}

#table1 {
  position: absolute;
  left: 229px;
}
#table2 {
  position: absolute;
  left: 492px;
}
#table3 {
  position: absolute;
  left: 743px;
}
.end {
  margin-top: 1100px;
}

@media (max-width: 500px) {
  .LogoIMG {
    max-width: 330px;
    margin-top: 20px;
  }
  .Contact {
    top: 110px;
    left: 22px;
  }

  .ContactIMG {
    max-width: 370px;
  }

  .Discount {
    left: 22px;
    top: 200px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    background-color: white;
  }

  .DiscountIMG1 {
    max-width: 365px;
  }

  .DiscountIMG2 {
    max-width: 0px;
  }
  table {
    font-size: 14px;
  }
  th,
  td {
    padding: 10px 30.5px;
  }

  #table1 {
    position: absolute;
    top: 390px;
    left: 22px;
  }
  #table2 {
    position: absolute;
    top: 1415px;
    left: 27px;
  }
  #table3 {
    position: absolute;
    top: 1900px;
    left: 22px;
  }


}
